@{
    // C# block, usually used for declaring variables and setting the page title
    ViewData["Title"] = "About Us";
}
@* HTML CODE GOES HERE *@

<h1>Chef Edward Garcia</h1>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Edward Garcia was born and raised in Ciudad Juarez, Mexico, in the late 80s and 90s. Growing up in a bustling border town, he was exposed to a diverse array of cultures and cuisines from a young age. His family owned a small taqueria, where he spent much of his childhood learning to cook traditional Mexican dishes and experimenting with new flavors and ingredients.

                In the early 2000s, Edward moved to Canada with his family and continued to explore his passion for cooking. He attended culinary school and worked at several top restaurants in Toronto, where he gained a reputation for his creative and innovative takes on traditional Mexican cuisine.

                Edward's cooking is influenced by his childhood memories of the vibrant flavors and spices of Mexican cuisine, as well as his experiences living in Canada and traveling the world. He uses fresh, local ingredients whenever possible and is committed to using sustainable and ethical farming practices.

                Today, Edward is the head chef and owner of DotNetGrill, a popular Mexican-inspired restaurant in Toronto that combines his love of .NET technology with his passion for cooking. He is known for his bold and creative dishes that showcase the rich and complex flavors of Mexican cuisine, and his innovative use of modern cooking techniques and technologies.
            </p>
        </div>
        <div class="col">
            <img src="/images/city.jpg" class="img-thumbnail" alt="City of Chihuahua, Mexico" />
        </div>
    </div>
</div>