@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!-- Example from https://www.w3schools.com/bootstrap5/bootstrap_collapse.php -->
<div id="accordion">

    <div class="card">
        <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                1) Privacy Considerations
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum odor amet, consectetuer adipiscing elit. Vitae suscipit eu phasellus laoreet ac enim pulvinar. Ridiculus pulvinar interdum aliquet vehicula taciti vivamus? Maximus ipsum elit, non purus torquent leo. Senectus amet nec rhoncus magna posuere enim cubilia aliquam. Praesent in cursus eget per amet ut sit.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                2) Data Protection
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Eleifend eros convallis tristique eget maecenas. Risus elit arcu potenti dui ad consequat eleifend. Blandit nascetur euismod mauris mus elit hac. Natoque taciti vivamus dui, elit inceptos consectetur ornare. Nulla laoreet nibh posuere laoreet laoreet. Pellentesque risus rhoncus torquent himenaeos risus vulputate leo porttitor. Massa massa gravida curae fames etiam erat. Lorem lacinia aenean fusce efficitur mi.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                3) Data Collection
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Adipiscing feugiat fringilla efficitur nec; erat class arcu proin. Tortor adipiscing vel maximus ullamcorper hac vestibulum urna fames. Varius pretium aliquam; justo ipsum rhoncus accumsan pulvinar. Mauris metus ullamcorper accumsan, at lobortis rutrum euismod sed dignissim. Arcu ipsum curabitur; aliquet quisque auctor porttitor ante volutpat maximus? Neque enim pretium et ornare aptent. Neque maecenas himenaeos nam; nec amet platea.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                4) Data Use
            </a>
        </div>
        <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Neque arcu mi aptent iaculis tristique diam condimentum feugiat. Fames per quis rhoncus magna quam ornare. Inceptos aptent potenti mollis nulla tempor non phasellus. Aenean aptent ex curabitur eget himenaeos. Nostra posuere interdum turpis vivamus viverra taciti varius consequat ridiculus. Sem maximus sed ligula at finibus lobortis mattis auctor. Rutrum mi condimentum elementum phasellus vivamus facilisis fames sodales. Dictumst porttitor taciti felis nostra vulputate.
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                5) Other Considerations
            </a>
        </div>
        <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Viverra cursus eget conubia sociosqu blandit mi eros. Nunc velit auctor ante risus aenean massa. Nulla vulputate donec congue ullamcorper adipiscing. Sodales tristique lectus inceptos curabitur dis. Rhoncus dignissim duis turpis ac mattis sed. Lectus fringilla duis augue taciti pretium consequat ac cursus molestie. Commodo magnis magna inceptos risus donec fusce hendrerit consequat. Lacus faucibus fusce risus dui class at. Lacus laoreet tristique, nisi curae leo habitant. Pharetra platea elit semper mollis lectus vel vulputate dapibus facilisi.
            </div>
        </div>
    </div>

</div>