@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- Example from https://www.w3schools.com/bootstrap5/bootstrap_jumbotron.php -->
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Welcome to DotNetGrill!</h1>
        <p>Where .NET technology and Mexican cuisine flavours merge...</p>
    </div>

    <h2>Our Story</h2>
    <p>TODO Add a description for your restaurant. What cousine? Any specialty dishes? Background story?</p>
    <hr />
    <h2>Chef Edward Garcia</h2>
    <p>TODO Add a fictional bio for your main chef</p>
</div>
