@{
    ViewData["Title"] = "Privacy Policy";
}
@* Only put here the content that belongs to this section *@
@* This is also called a "Partial View" *@
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
