@model IEnumerable<DotNetGrill.Models.Category>

@{
    ViewData["Title"] = "Explore Our Menu!";
}

<h1>Explore Our Menu!</h1>

<section class="row card-group">
    @*render 1 card per category*@
    @foreach (var c in Model)  // Model refers to IEnumerable<DotNetGrill.Models.Category>
    {
        <div class="col-lg-4 mb-3">
            <div class="card mb-4">
                <div class="card-body text-center h-100">
                    @*Render a link to a page that shows products associated to the category id*@
                    <a asp-controller="Store" asp-action="Browse" asp-route-id="@c.CategoryId">
                        @c.Name
                    </a>
                </div>
            </div>
        </div>
    }
</section>