@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div id="accordion">

    <div class="card">
        <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                Privacy Considerations
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus in ornare quam viverra orci. Non consectetur a erat nam. Urna neque viverra justo nec ultrices dui sapien eget mi. Hendrerit dolor magna eget est lorem. Auctor neque vitae tempus quam pellentesque nec nam aliquam sem. Mauris pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus. Venenatis cras sed felis eget. Nibh nisl condimentum id venenatis a condimentum vitae sapien pellentesque. Placerat vestibulum lectus mauris ultrices eros in cursus. Eu consequat ac felis donec et odio pellentesque diam. Sed velit dignissim sodales ut. Euismod nisi porta lorem mollis aliquam. Mauris vitae ultricies leo integer. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Feugiat pretium nibh ipsum consequat nisl vel. Magna sit amet purus gravida quis blandit turpis cursus in. Maecenas sed enim ut sem viverra aliquet eget sit amet. Consequat mauris nunc congue nisi vitae suscipit tellus. Fringilla ut morbi tincidunt augue.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                Data Protection
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                At imperdiet dui accumsan sit amet nulla facilisi morbi. Enim praesent elementum facilisis leo vel fringilla. Posuere lorem ipsum dolor sit amet consectetur. Auctor urna nunc id cursus metus aliquam eleifend. Elementum curabitur vitae nunc sed velit. Penatibus et magnis dis parturient montes nascetur ridiculus. Urna cursus eget nunc scelerisque viverra mauris. Dictum at tempor commodo ullamcorper. Mattis molestie a iaculis at erat pellentesque. Semper eget duis at tellus at urna. Habitant morbi tristique senectus et netus. Enim nunc faucibus a pellentesque. Quis risus sed vulputate odio ut enim blandit volutpat maecenas. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Amet dictum sit amet justo donec enim diam vulputate. Faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam. Felis eget velit aliquet sagittis. Viverra vitae congue eu consequat ac felis donec et odio. Tellus cras adipiscing enim eu turpis egestas.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                Data Collection
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Facilisis mauris sit amet massa vitae. Quis viverra nibh cras pulvinar. Fames ac turpis egestas sed tempus urna. Quis risus sed vulputate odio. Velit scelerisque in dictum non consectetur a erat. Erat nam at lectus urna duis convallis convallis tellus id. Ac auctor augue mauris augue neque gravida in. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Vulputate mi sit amet mauris commodo quis. Aliquam sem fringilla ut morbi tincidunt. Purus sit amet luctus venenatis lectus magna fringilla.
            </div>
        </div>
    </div>

</div>
