@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-4 p-5 bg-transparent text-black text-center border-bottom-1">
    <h1>Welcome to DotNetGrill</h1>
</div>

<div class="text-center">
    @* template from https://www.w3schools.com/bootstrap5/bootstrap_collapse.php*@    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Our Story</h1>
                <p>
                    DotNetGrill is a vibrant and modern restaurant that combines the latest .NET technology with the bold and flavorful cuisine of Mexico. The restaurant is designed with a sleek and contemporary aesthetic, featuring dark wood accents, colorful murals depicting Mexican culture, and large windows that provide a bright and inviting atmosphere.

                    The menu at DotNetGrill is inspired by the rich and diverse flavors of Mexican cuisine, with a focus on using fresh, high-quality ingredients and authentic cooking techniques. The menu features classic Mexican dishes such as tacos, enchiladas, and burritos, as well as unique and creative dishes like chile rellenos stuffed with quinoa and black beans, grilled street corn with cotija cheese and chipotle mayo, and a chipotle-rubbed steak with avocado salsa.

                    At DotNetGrill, guests can enjoy a variety of craft cocktails and artisanal beers, all carefully curated to complement the bold and spicy flavors of the food. The restaurant also offers a variety of vegetarian and gluten-free options, making it an inclusive and welcoming dining destination for all.

                    With its innovative use of .NET technology and authentic Mexican cuisine, DotNetGrill is a must-visit for anyone looking for a unique and memorable dining experience.
                </p>
            </div>
            <div class="col">
                <img src="/imgs/restaurant.jpg" class="img-thumbnail rounded" />
            </div>
        </div>
    </div>


    <hr />


</div>
