@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to DotNetGrill</h2>
    <p>TODO Add a description for your restaurant. What cousine? Any specialty dishes? Background story?</p>
    <hr />
    <h2>Chef Edward Garcia</h2>
    <p>TODO Add a fictional bio for your main chef</p>
</div>
