@model IEnumerable<DotNetGrillWebUI.Models.Category>

@{
    ViewData["Title"] = "Explore our Menu!";
}

<h1>Explore our Menu!</h1>

<section class="row card-group">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 mb-3">
            <div class="card mb-4">
                <div class="card-body text-center h-100">
                    <a asp-controller="Store" asp-action="Browse" asp-route-id="@item.CategoryId">
                        @item.Name
                    </a>
                </div>
            </div>
        </div>
    }
</section>