@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@*Generated from https://loremipsum.io/generator/?n=5&t=p*@
<div id="accordion">

    <div class="card">
        <div class="card-header">
            <a class="btn" data-bs-toggle="collapse" href="#collapseOne">
                Privacy Considerations
            </a>
        </div>
        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id donec ultrices tincidunt arcu non sodales. Turpis massa sed elementum tempus egestas sed sed risus pretium. Elementum integer enim neque volutpat ac tincidunt vitae semper quis. Eget sit amet tellus cras adipiscing enim. Justo laoreet sit amet cursus sit. Maecenas accumsan lacus vel facilisis volutpat. Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Orci a scelerisque purus semper eget duis at tellus at. Lobortis scelerisque fermentum dui faucibus in ornare. Quis auctor elit sed vulputate mi. Nunc pulvinar sapien et ligula. Auctor urna nunc id cursus metus. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                Data Protection
            </a>
        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Quis blandit turpis cursus in hac habitasse platea dictumst quisque. Justo eget magna fermentum iaculis eu. Felis imperdiet proin fermentum leo vel orci porta non pulvinar. Ultrices neque ornare aenean euismod. Diam vulputate ut pharetra sit amet. Faucibus ornare suspendisse sed nisi lacus. Malesuada bibendum arcu vitae elementum curabitur vitae nunc. Ut aliquam purus sit amet luctus venenatis lectus magna fringilla. Sed augue lacus viverra vitae congue eu. Platea dictumst quisque sagittis purus sit amet volutpat. Auctor augue mauris augue neque. Donec massa sapien faucibus et molestie ac feugiat sed. Ultricies mi quis hendrerit dolor. Vitae sapien pellentesque habitant morbi tristique senectus et. Auctor elit sed vulputate mi. Lectus nulla at volutpat diam ut venenatis tellus in metus. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Diam sit amet nisl suscipit adipiscing bibendum. Tristique magna sit amet purus gravida quis blandit turpis cursus.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                Data Collection
            </a>
        </div>
        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Arcu felis bibendum ut tristique et. Commodo nulla facilisi nullam vehicula. Amet commodo nulla facilisi nullam vehicula ipsum a arcu cursus. Ligula ullamcorper malesuada proin libero. Donec ac odio tempor orci. Fermentum odio eu feugiat pretium nibh ipsum consequat. Aliquet risus feugiat in ante metus dictum at tempor. Suspendisse faucibus interdum posuere lorem. Sit amet justo donec enim. Commodo odio aenean sed adipiscing diam donec adipiscing tristique risus. Pellentesque adipiscing commodo elit at. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Porta non pulvinar neque laoreet. Blandit volutpat maecenas volutpat blandit aliquam etiam. Magna ac placerat vestibulum lectus mauris ultrices eros in cursus. Orci nulla pellentesque dignissim enim sit amet venenatis urna.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFour">
                Data Use
            </a>
        </div>
        <div id="collapseFour" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Quis risus sed vulputate odio ut enim blandit volutpat. Turpis tincidunt id aliquet risus feugiat in ante. Sagittis nisl rhoncus mattis rhoncus urna neque. Quisque id diam vel quam elementum pulvinar etiam non quam. Ut consequat semper viverra nam libero justo laoreet sit amet. Dui sapien eget mi proin sed libero. Proin fermentum leo vel orci. Tellus elementum sagittis vitae et. Condimentum lacinia quis vel eros donec ac odio. Adipiscing tristique risus nec feugiat in fermentum posuere. Donec massa sapien faucibus et molestie ac. Enim diam vulputate ut pharetra sit amet aliquam id diam.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseFive">
                Other Considerations
            </a>
        </div>
        <div id="collapseFive" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Fringilla ut morbi tincidunt augue interdum velit. Eu consequat ac felis donec et odio pellentesque diam volutpat. Cursus metus aliquam eleifend mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames. Ac tortor vitae purus faucibus ornare suspendisse. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae. Porta nibh venenatis cras sed. Suscipit adipiscing bibendum est ultricies integer quis auctor. Nisl vel pretium lectus quam. Pulvinar mattis nunc sed blandit libero volutpat sed cras ornare. Odio ut sem nulla pharetra diam sit. Pulvinar mattis nunc sed blandit libero volutpat sed. Vitae ultricies leo integer malesuada nunc vel risus commodo. Morbi tincidunt augue interdum velit euismod in pellentesque massa placerat.
            </div>
        </div>
    </div>

</div>



